<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.melangame.t3game"
    versionCode = "10"
    version     = "1.0.0" >

  <name>Tic Tac Toe Game</name>
  <description>
      A very popular game that a player take turns to play and win if he first successfully selects three (3) linear boxes.
  </description>
  <author href="https://nowebyet.com" email="isaiahtech1@gmail.com">
      Isaiah Pius
  </author>

<!-- 
  <plugin name="cordova-plugin-geolocation" source="npm"/>
  <plugin name="cordova-plugin-splashscreen" source="npm"/>
  <plugin name="cordova-plugin-statusbar" source="npm"/>
-->
  <plugin name="cordova-plugin-inappbrowser" source="npm"/>


  <!-- all platforms -->
  <preference name="phonegap-version" value="cli-9.0.0" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />

  <!-- Android only -->
  <preference name="android-build-tool" value="ant|gradle" />
  <preference name="android-minSdkVersion" value="19" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    
  <allow-navigation href="*" />
    
  <icon src="icon.png" platform="android"/>
</widget>
